<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "CV Boost", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Experiences", experiences_path, class: "nav-link #{("active" if controller_name == 'experiences')}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Job Listings", job_listings_path, class: "nav-link #{("active" if controller_name == 'job_listings')}" %>
        </li>
        <% if current_user&.has_role? :admin %>
          <li class="nav-item">
            <%= link_to "Admin", rails_admin_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sidekiq", sidekiq_web_path, class: "nav-link", target: "_blank" %>
          </li>
        <% end %>
      </ul>
      <hr/>
      <ul class="navbar-nav">
        <% if current_user.present? %>
          <li class="nav-item d-flex">
            <%= link_to edit_user_registration_path, class: "nav-link #{("active" if current_page?(edit_user_registration_path))}" do %>
              <% if current_user.image_url.present? %>
                <img class="rounded-circle me-1" alt="user profile image" src="<%= current_user.image_url %>" style="width: 3rem">
              <% end %>
              <%= current_user.email %>
            <% end %>
          </li>
          <li class="nav-item my-auto">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link btn btn-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link #{("active" if current_page?(new_user_session_path))}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link #{("active" if current_page?(new_user_registration_path))}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
