<div id="<%= dom_id experience %>">
  <p>
    <strong>Place:</strong>
    <%= experience.place %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= experience.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= experience.ended_at %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= experience.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= experience.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= experience.user.email %>
  </p>

</div>
