<%= turbo_stream_from @experience %>
<div class="container">
  <%= turbo_frame_tag dom_id(@experience) do %>
    <%= render @experience %>
  <% end %>
  <div id="ai_messages">
    <%= render @experience.ai_messages.default_order %>
  </div>
  <%= turbo_frame_tag "new_ai_message", src: new_experience_ai_message_path(@experience), target: :_top %>
</div>
