<div id="<%= dom_id job_listing %>" class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="me-auto mb-0 h6"><%= @job_listing.employer %></h1>
      <%= link_to edit_job_listing_path(@job_listing), class: "me-2" do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
      <%= button_to @job_listing, method: :delete, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure? This is NOT reversible" }, class: "btn btn-link" do %>
        <i class="fa-solid fa-trash text-danger"></i>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <p><%= job_listing.title %></p>

    <p>
      <%= JobListing.job_types.dig(job_listing.job_type).titleize %>
    </p>

    <p>
      <%= job_listing.location %>
    </p>

    <% if job_listing.external_url.present? %>
      <%= link_to "Source", job_listing.external_url, target: "_blank" %>
    <% end %>

    <hr/>

    <p>
      <%= job_listing.description %>
    </p>
  </div>
</div>
