<!DOCTYPE html>
<html>
  <head>
    <title>Cv Boost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/meta_tags" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= render "shared/flash" %>
    <%= render "shared/breadcrumbs" %>
    <%= yield %>
    <%= render "shared/footer" unless current_page?(controller: :experiences) || current_page?(controller: :job_listings) %>
  </body>
</html>
